.tag {
  display: inline-block;
  color: #333;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
}

.default {
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
}

.default:hover {
  background-color: var(--color-secondary-100);
}

.ghost {
  background-color: transparent;
  color: var(--color-secondary-100);
}

.ghost:hover {
  color: var(--color-primary-100);
}
