.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--color-text);
}

.section_hero {
  min-height: 15rem;
  text-align: center;
  width: 100%;
  background-color: var(--color-secondary-200);
  color: var(--color-text);
  padding-top: 4rem;
}

.section_nature {
  max-width: var(--content-width);
  margin: 0 auto;
}

.section_music {
  max-width: var(--content-width);
  margin: 0 auto;
}

.section_hobbies {
  max-width: var(--content-width);
  margin: 0 auto;
}
