.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper h1 {
  color: var(--color-text-primary);
}

.wrapper p {
  color: var(--color-text-primary);
}

.content {
  position: relative;
  width: 100%;
  max-width: var(--content-width);
  padding: var(--viewport-padding);
  padding-top: 8vw;
  padding-bottom: 80px;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.content p {
  font-size: 1.1rem;
}
.content time {
  font-weight: 500;
}

.tags {
  display: flex;
  gap: 0.5rem;
  padding: 0px;
}
