.modalContainer {
  max-width: 600px;
  background: #ffffff;
  border: 3px solid var(--color-secondary-100);
  border-radius: 10px;
}

.modalContainer:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.off {
  display: none;
}

.on {
  display: block;
}

.on:before {
  display: block;
}

.on .modalDialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
  bottom: 10%;
  overflow-y: scroll;
}

.modalDialog {
  background: #fefefe;
  border: #333333 solid 0px;
  border-radius: 5px;
  margin-left: -200px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  max-width: 600px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.content {
  padding: 4rem 2rem;
}

.actions {
  position: fixed;
  right: 0;
  padding: 1rem;
}

.modalContainer button {
  border: 0;
  cursor: pointer;
  background: none;
}
