/*
  CSS RESET
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  scrollbar-gutter: stable;
}
body {
  height: auto;
  min-height: 100vh;
  background-color: var(--color-background);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* THEME VARS */
html {
  --content-width: 70rem;
  --outer-content-width: 80rem;
  --content-readable-width: 65ch;
  --viewport-padding: 16px;

  --color-notice: hsl(235deg 100% 50%);
  --color-notice-bg: hsl(235deg 0% 100%);
  --color-warning: hsl(35deg 100% 46%);
  --color-warning-bg: hsl(40deg 100% 94%);
  --color-success: hsl(120deg 80% 35%);
  --color-success-bg: hsl(120deg 90% 96%);
  --color-error: hsl(345deg 100% 50%);
  --color-error-bg: hsl(350deg 90% 96%);
}
main {
  display: flex;
  flex: 1;
  /* max-width: var(--content-width); */
  margin: 0 auto;
  /* padding: 2rem 0; */
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: 400;
}
