.codeButton {
  position: absolute;
  right: 4rem;
  margin-top: 1rem;
  margin-right: -3rem;
  display: none;
  border: none;
  border-radius: 100%;
  color: white;
  padding: 0.4rem;
  cursor: pointer;
  background-color: var(--color-secondary-100);
}

.container:hover .codeButton,
.container.hover .codeButton {
  display: block;
}
