.pageSidebar {
  margin-left: auto;
  position: sticky;
  top: 9rem;
  align-self: flex-start;
}

.pageSidebar h3 {
  margin-bottom: 1rem;
}

.tagList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .pageSidebar {
    display: none;
  }
}
